<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="threadpool4j"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/threadpool4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %m%n" />
			<!--
			value="%d %-5p [%t] %C{2} (%F:%L) - %m%n
			value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n
			-->
		</layout>
	</appender>
	
	<appender name="threadstate"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/threadpool4j-threadstate.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%m%n" />
            <!--
            value="%d %-5p [%t] %C{2} (%F:%L) - %m%n
            value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n
            -->
        </layout>
    </appender>
	
	<appender name="Console"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %m%n" />
		</layout>
	</appender>
	
	<root>
		<level value="info"></level>
		<appender-ref ref="threadpool4j" />
		<appender-ref ref="Console" />
	</root>
	
	<logger name="cn.aofeng.threadpool4j.ThreadStateJob" additivity="false" >
	   <level value="info"></level>
	   <appender-ref ref="threadstate"/>
	</logger>

</log4j:configuration>