<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="threadpool4j"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/threadpool4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %m%n" />
			<!--
			value="%d %-5p [%t] %C{2} (%F:%L) - %m%n
			value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %C{2} (%F:%L) - %m%n
			-->
		</layout>
	</appender>
	
	<appender name="threadpoolstate"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/threadpool4j-threadpoolstate.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss} ~ %m%n" />
        </layout>
    </appender>
    
    <appender name="threadstate"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/threadpool4j-threadstate.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss} ~ %m%n" />
        </layout>
    </appender>
    
    <appender name="threadstack"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/threadpool4j-threadstack.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss} ~ %m%n" />
        </layout>
    </appender>
	
	<logger name="cn.aofeng.threadpool4j.job.ThreadPoolStateJob" additivity="false" >
       <level value="info"></level>
       <appender-ref ref="threadpoolstate"/>
    </logger>
	
	<logger name="cn.aofeng.threadpool4j.job.ThreadStateJob" additivity="false" >
       <level value="info"></level>
       <appender-ref ref="threadstate"/>
    </logger>
    
    <logger name="cn.aofeng.threadpool4j.job.ThreadStackJob" additivity="false" >
       <level value="info"></level>
       <appender-ref ref="threadstack"/>
    </logger>
    
	<root>
		<level value="info"></level>
		<appender-ref ref="threadpool4j" />
	</root>

</log4j:configuration>